* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.6px;
}
body {
  overflow-x: hidden;
}
header {
  width: 100vw;
  margin-top: -20px;
  position: fixed;
  background: snow;
  z-index: 100;
  left: 0;
  right: 0;
  padding: 0 80px;
}
section.container {
  width: 90vw;
  margin: 0 auto;
}
nav.navbar {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #7e4aa7;
  font-size: 16px;
}
a {
  text-decoration: none;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
  color: snow;
  background-color: #7e4aa7;
}
a:hover {
  background-color: snow;
  color: #7e4aa7;
}
.navbar ul li {
  list-style-type: none;
  padding-left: 30px;
  color: #7e4aa7;
  font-weight: 600;
}
.navbar ul {
  display: flex;
  padding: 50px;
}
h1.navbar-head-text {
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 2px !important;
}
.hero {
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 110px;
  margin-bottom: 100px;
}
.hero-left {
  position: absolute;
  left: 5px;
  margin-top: 50%;
}
.hero-left img {
  position: relative;
  left: -20%;
  /* width: 80%; */
}
.hero-left img {
  position: relative;
  left: -20%;
  width: 80%;
}
h1.hero-left-text {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}
h4.hero-left-small-text {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}
img.hero-right-image {
  position: absolute;
  top: 20px;
  right: -50px;
  width: 60%;
}
.part-two {
  background-image: url("image-sec-one.png"), url("image-sec-two.png");
  background-position: center;
  height: 100vh;
  margin: 0 -55px 0 -56px;
  position: relative;
  top: 100vh;
  color: snow;
}
img.part-two-img {
  position: relative;
  top: -170px;
  right: -30%;
}
.part-two-top {
  line-height: 44px;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  padding-top: 40px;
}
.part-two-middle {
  display: flex;
  align-content: space-between;
  justify-content: space-around;
  position: relative;
  top: -160px;
}

.same {
  width: 303px;
  height: 340px;
  text-align: center;
  padding-top: 40px;
  font-size: 16px;
}
.same img {
  margin-bottom: 25px;
  margin-top: -9px;
}
.same p {
  padding: 16px;
}
.part-two-lower {
  position: absolute;
  top: 92%;
  left: 42%;
}
.part-two-lower a {
  color: snow;
}
section.our-process {
  position: relative;
  height: 100vh;
  top: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.left-our-process {
  position: absolute;
  top: 0;
  left: -10px;
  display: flex;
  flex-direction: column;
}
.left-img {
  width: 40%;
  margin: 60px 0;
}
.right-our-process {
  position: absolute;
  top: 0;
  right: -30%;
  display: flex;
  flex-direction: column;
}
.right-img {
  width: 40%;
  margin: 60px 0;
}
.our-process .content h1 {
  font-size: 34px;
  line-height: 44px;
  padding-top: 40px;
  text-transform: uppercase;
}
.our-process .content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1.3px !important;
  color: #7e4aa7;
  padding-top: 10px;
  font-weight: 600;
}
.illustration img {
  width: 80%;
  padding-top: 85px;
}
.content a {
  position: absolute;
  top: 30%;
  left: 45%;
}
.steps {
  position: relative;
  height: 100vh;
  top: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
.left-steps {
  background-image: url("background.png");
  width: 540px;
  height: 400px;
  position: relative;
  margin-left: -20px;
}
.left-text {
  position: absolute;
  top: 18%;
  left: 10%;
}
.left-text h1 {
  font-size: 28px;
  line-height: 40px;
  padding-bottom: 10px;
}
.left-text p {
  padding-bottom: 40px;
  font-size: 18px;
  line-height: 30px;
  color: #7e4aa7;
  font-weight: 600;
}
.right-steps {
  margin-right: -60px;
}
.testimonial {
  position: relative;
  height: 90vh;
  top: 100vh;
  left: 25%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  padding-top: 80px;
  background-image: url("quote.png");
  background-repeat: no-repeat;
  background-position: top;
  margin-top: 50px;
}
.comment {
  padding-bottom: 20px;
  margin-top: -20px;
}
.comment p {
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  margin-top: -30px;
  padding-bottom: 20px;
}
.comment h1 {
  font-size: 26px;
  line-height: 44px;
  color: #7e4aa7;
  padding-bottom: 30px;
  padding-top: -10px;
}
.back {
  position: relative;
}
.back::after {
  content: "";
  position: absolute;
  top: 0;
  left: 30%;
  width: 20%;
  height: 100vh;
  z-index: -1;
  background-image: url(background.png);
  padding: 50px;
  margin-top: -30px;
  background-position: center;
  background-size: cover;
  opacity: 70%;
}
.back-zero {
  position: absolute;
  top: 12%;
  left: 0;
  width: 50%;
  margin-left: -300px;
}
.back-one {
  position: absolute;
  top: 12%;
  right: 0;
  width: 50%;
  margin-right: -300px;
}
.back-two {
  position: absolute;
  bottom: 25%;
  left: 0;
  width: 50%;
  margin-left: -300px;
}
.back-three {
  position: absolute;
  bottom: 25%;
  right: 0;
  width: 50%;
  margin-right: -300px;
}
footer {
  position: relative;
  top: 100vh;
  height: 40vh;
  margin: 0 -60px;
  background-position: center;
  background-image: url(footer.png), url(footer-mask.png);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 50px;
  display: flex;
  color: snow;
}
.left {
  padding: 50px;
  flex-direction: column;
  width: 20%;
}
.left img {
  padding: 15px;
}
.right {
  display: flex;
  width: 70%;
  margin-left: 100px;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}
.one {
  margin: 20px;
}
.one h1 {
  font-size: 22px;
  line-height: 54px;
  font-weight: 600;
}
.one ul li {
  list-style-type: none;
  font-size: 18px;
  color: goldenrod;
}
