* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  overflow-x: hidden;
}
section.container {
  width: 90vw;
  margin: 0 auto;
}
nav.navbar {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
}
li {
  list-style-type: none;
  padding-left: 30px;
}
ul {
  display: flex;
  padding: 50px;
}
h1.navbar-head-text {
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 2px;
}
.hero {
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.hero-left {
  position: absolute;
  left: 5px;
  margin-top: 50%;
}
h1.hero-left-text {
  font-size: 40px;
  letter-spacing: 1.6px;
  line-height: 50px;
  font-weight: 600;
}
h4.hero-left-small-text {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}
img.hero-right-image {
  position: absolute;
  top: 20px;
  right: -50px;
  width: 60%;
}
.part-two {
  background-image: url("image-sec-one.png"), url("image-sec-two.png");
  background-position: center;
  height: 100vh;
  margin: 0 -55px 0 -56px;
  position: relative;
  top: 100vh;
  color: snow;
}
.part-two-top {
  line-height: 44px;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  padding-top: 40px;
}
.part-two-middle {
  display: flex;
  align-content: space-between;
  justify-content: space-around;
}
.same {
  width: 303px;
  height: 340px;
  text-align: center;
  padding-top: 40px;
  font-size: 16px;
}
.same img {
  margin-bottom: 25px;
  margin-top: -9px;
}
.same p {
  padding: 16px;
}
.part-two-lower {
  position: absolute;
  top: 90%;
  left: 44%;
}
.part-two-lower a {
  color: snow;
}
